*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: 'Londrina Sketch', sans-serif;
  background-color: #0f0f0f;
  color: #fcfcfc;
}

header {
  font-size: 1.75rem;
  text-align: center;
  margin-top: 2rem;
}

.container {
  display: grid;
  place-content: center;
  width: 500px;
  max-height: 100vh;
  margin: 2rem auto;
}

.square {
  outline: 0.5px solid #eeeeee;
}

.button-area {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

#btn {
  cursor: pointer;
  border: none;
  color: #fcfcfc;
  background-color: #2b4162;
  padding: 10px 14px;
  border-radius: 10px;
}

#btn:hover {
  background-color: #1c2a40;
}